.mainContainer{
    margin: 20px;
    text-align: left;
}

.textDataTest{
    display: flex;
    justify-content: center;
    margin-left: 50px;
}

.mainContainer h6{
    margin-bottom: 40px;
}

.mainSideText{
    display: flex;
    justify-content: center;
    margin-left: 100px;
}

.textSideTest textarea{
    padding: 10px;
    min-height: 100px;
    height: 355px;
    width: 700px;
}

.spotWatchMain{
    display: flex;
    flex-direction: column;
    margin-top: 100px;
    margin-left: 100px;
}

.textTimeAndNumber div{
    margin-bottom: 10px;
}

#button{
    margin-left: 10px;
    margin-top: 10px;
}

.underSideText{
    display: flex;
}