.mainContainer{
    margin: 20px;
    text-align: left;
}

.textDataTest{
    display: flex;
    justify-content: center;
    /* margin-left: 50px; */
}

.mainContainer h6{
    margin-bottom: 1%;
}

.mainSideText{
    display: flex;
    justify-content: center;
    /* margin-left: 100px; */
}

.textSideTest textarea{
    padding: 10px;
    min-height: 100px;
    height: 100%;
    width: 100%;
}

.spotWatchMain{
    display: flex;
    flex-direction: column;
    margin-top: 5%;
    margin-left: 5%;
}

.textTimeAndNumber div{
    margin-bottom: 10px;
}

#button{
    margin-left: 10px;
    margin-top: 10px;
}

.underSideText{
    display: flex;
}

@media screen and (max-width: 600px) {
    .textDataTest {
      display: flex;
      flex-direction: column;
    }

    .spotWatchMain{
        margin-top: 15%;
    }
  }