.textData{
    display: flex;
    flex-direction: column;
}

.textSide{
    display: flex;
    flex-direction: column;
}

.submitButtons{
    display: flex;
    justify-content: center;
}

.textSide textArea{
    padding: 10px;
    min-height: 100px;
    height: 355px;
    width: 1250px;
}
