
/* .contentWrapper{
    height: 100%;
    overflow: scroll;
    overflow-x: hidden;
} */

.allDiv{
    display: flex;
    justify-content: center;
    overflow: hidden;
}

.childs{
    width: 100%;
    height: 100%;
    /* margin-right: 50px; */
}

.bodyWrapper{
    text-align: center;
}

.headerDiv{
    position: static;
    background-color: rgb(0, 7, 61);
    color: white;
    height: 54px;
    width: 100%;
}

.pathName{
    padding: 10px;
    margin-bottom: 5px;
    /* width: 200%; */
    /* box-shadow: 1px 2px black; */
    color: white;
    /* display: inline-flex;
    justify-content: center; */
    background-color: rgb(0, 7, 225);
}

.disable-text-selection{
    -ms-user-select:none;
    -moz-user-select:none;
    -webkit-user-select:none;
    -webkit-touch-callout: none;
    -khtml-user-select: none;
    user-select:none;
}

.headerSide{
    display: flex;
    flex-direction: column;
    width: 100%;
}